<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
			</requestFiltering>
		</security>
        <defaultDocument>
            <files>
                <add value="login.php" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="PHP_FastCGI" />
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <staticContent>
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/wav" />
        </staticContent>
    </system.webServer>
</configuration>
